MONGO_URI=mongodb+srv://<username>:<password>@cluster-url/studyverse
JWT_SECRET=supersecretjwt
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=service-account@your-project-id.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nXXX\n-----END PRIVATE KEY-----\n"
PORT=8080
